@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

$outOfStock: #f94144;
$bought: #43aa8b;

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #c6c5b9;
}
.hidden {
  opacity: 0;
  visibility: none;
  transition: all 1s;
  transform: translateX(-100%);
}
body {
  background: #fdfdff;
  .pendingOrders > h2, .bougth > h2, .outOfStock > h2 {
    text-align: center;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
    padding: 1rem 7rem;
    background: #393d3f;
    border-radius: 1rem;
  }
}
header {
  width: 100vw;
  display: flex;
  padding: 16px 0;
  background: #393d3f;
  justify-content: space-around;
  h1 {
    font-size: 2rem;
  }
  i {
    font-size: 2rem;
  }
}
.navBar {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 4rem;
  background: #546a7b;
  transition: all 0.5s;
  a {
    display: block;
    text-align: right;
    padding: 2rem;
    border-bottom: thin solid #c6c5b9;
    text-decoration: none;
    font-size: 1.25rem;
  }
}
.pendingOrders {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  &:nth-child(3) {
    margin: 0.5rem 0;
  }
  div {
    margin: .5rem 0;
    width: 75vw;
    background: #393d3f;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    .boughtHidden {
      display: none;
    }
    .boughtAlert {
      width: 60vw;
      padding: 6rem 2rem;
      border-radius: 1rem;
      background: $bought;
      color: #393d3f;
      box-shadow: 1px 1px 2px #333;
    }
    .outOfStockAlert {
      width: 60vw;
      padding: 6rem 2rem;
      border-radius: 1rem;
      background: $outOfStock;
      color: #c6c5b9;
      box-shadow: 1px 1px 2px #333;
    }
    img {
      display: block;
      margin: 0.5rem auto;
      width: 45%;
      height: fit-content;
      border-radius: 1rem;
    }
    h2,
    h3 {
      text-align: center;
    }
    button {
      border-radius: 1rem;
      color: #393d3f;
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.25rem auto;
      display: flex;
      border: thin solid #393d3f;
      outline: none;
    }
  }
}
